In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# 한글 폰트 문제 해결
# matplotlib는 한글폰트를 지원하지 않음
# is정보
import platform
# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# 시각화 도구
from matplotlib import pyplot as plt
%matplotlib inline
# uniccode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin': #os 가 mac일때
    rc('font', family = 'AppleGothic')
elif platform.system() == 'Windows':
    path = 'C:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font',family = font_name)
else:
    print("Unknown system")

In [ ]:
clien=pd.read_csv('./clien.csv')

In [5]:
clien.head()

,Unnamed: 0,index,추천수,게시판,제목,리플수,아이디,조회수,날짜,문서번호,사진유무
0,0,0,0,모공,좋아하는 바다 사진 2번째.jpg,0,우득우득,172,2020-02-03 21:04:39,14556250,Y
1,1,1,0,모공,알리 몇개 구매 배송전인데요..,0,선장다이스,31,2020-02-03 21:04:39,14556249,Y
2,2,2,0,모공,A8004T-XR WiFi 문제는 배전함에 있던 스위치 때문인것 같네요...,0,Nasacort,61,2020-02-03 21:04:07,14556247,Y
3,3,3,0,모공,왜냐맨 김하늘 pd 롤 스트리밍 하네요ㅋ,0,R.A.T.M,253,2020-02-03 21:02:47,14556245,Y
4,4,4,2,모공,펌) '정부 때문에 마스크 못판다'의 진실,0,의심과낭만,485,2020-02-03 21:02:45,14556244,Y

In [6]:
clien=clien[['추천수','게시판','제목','리플수','아이디','조회수','날짜','문서번호','사진유무']]

In [7]:
clien.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131118 entries, 0 to 131117
Data columns (total 9 columns):
추천수     131118 non-null int64
게시판     131118 non-null object
제목      131118 non-null object
리플수     131118 non-null int64
아이디     131118 non-null object
조회수     131118 non-null object
날짜      131118 non-null object
문서번호    131118 non-null int64
사진유무    131118 non-null object
dtypes: int64(3), object(6)
memory usage: 9.0+ MB

In [ ]:
# 조회수가 1000이상이면 1k식으로 저장이 되기때문에 조회수 컬럼이 object 타입으로 나옴

In [8]:
# Change date to datetype
clien['날짜']=pd.to_datetime(clien['날짜'])

In [9]:
clien['조회수']

0            172
1             31
2             61
3            253
4            485
           ...
131113       333
131114       598
131115    11.4 k
131116      1279
131117      1190
Name: 조회수, Length: 131118, dtype: object

In [71]:
# 조회수 . k 단위 int로 변경
clien['조회수int'] =""

if "k" in str(clien['조회수']):
    clien['조회수int'] = round(float(str(clien['조회수']).replace("k","0000").replace(" ","")))

else:
    clien['조회수int']= round(float(clien['조회수']))

ValueError: could not convert string to float: '0172\n131\n261\n3253\n4485\n...\n131113333\n131114598\n13111511.40000\n1311161279\n1311171190\nName:조회수,Length:131118,dtype:object'

In [78]:
# 조회수 . k 단위 int로 변경
clien['조회수int'] =""
for i in range(len(clien['조회수'])):
    if "k" in str(clien['조회수'][i]):
        a = str(clien['조회수'][i])
        b = a.replace("k","0000").replace(" ","")
        c = round(float(b)*1000)
        clien['조회수int'][i] = int(c)
    else:
        clien['조회수int'][i]= int(clien['조회수'][i])

In [92]:
clien['조회수int'].astype(int)

0           172
1            31
2            61
3           253
4           485
          ...
131113      333
131114      598
131115    11400
131116     1279
131117     1190
Name: 조회수int, Length: 131118, dtype: int32

In [90]:
for i in range(len(clien)):
    if (type(clien['조회수int'][i]) ==int):
        continue
    else:
        print(i)

In [87]:
type(clien['조회수int'][1]) == int

True

In [99]:
float("32.2 k".replace("k","").replace(" ",""))*1000

32200.000000000004

In [100]:
float("22.2 k".replace("k","").replace(" ",""))*1000

22200.0

In [104]:
32.3*1000

32299.999999999996

In [67]:
clienkk.reset_index(inplace=True,drop = True)
clienkk

,추천수,게시판,제목,리플수,아이디,조회수,날짜,문서번호,사진유무,조회수int
0,173,모공,정부때문에 마스크 못판다 역시 구라였네요,4,sian,32.2 k,2020-02-03 08:24:55,14553807,N,32200
1,84,모공,백종원의 가쓰오부시(가다랑어포) 국산화 근황..,4,nd0v,32.2 k,2020-01-24 02:57:35,14523892,N,32200
2,542,모공,드디어..ㅜㅜ,5,곰텡,32.2 k,2020-01-20 20:24:06,14513356,N,32200
3,9,모공,셀카 찍다 259명 사망. jpg,0,Beatles,32.2 k,2020-01-05 23:37:03,14467499,Y,32200
4,91,모공,한국인이 순하다는 증거,0,미나미모리마치,32.2 k,2020-01-04 10:27:43,14462691,N,32200
5,3,모공,알벤다졸 성기능 장애,2,JAXA,32.2 k,2020-01-03 05:43:50,14459370,Y,32200
6,85,모공,청와대 정책 홍보 담당자 미친듯...,3,그물새,32.2 k,2019-12-23 02:25:28,14417555,N,32200
7,97,모공,2023년 모든 대학 입학금 폐지.jpg,3,wakatan,32.2 k,2019-12-19 08:39:40,14406200,Y,32200
8,66,모공,속보) 자유당 의총 필리버스터 철회 보류,10,centumriver,32.2 k,2019-12-09 18:30:00,14374726,Y,32200
9,46,모공,손흥민 골에 대한 레딧 드립.jpg,0,비빔냉면,32.2 k,2019-12-08 01:01:44,14369882,Y,32200

In [69]:
# 조회수 . k 단위 int로 변경
clienkk['조회수int'] =""
for i in range(len(clienkk['조회수'])):
    if "k" in str(clienkk['조회수'][i]):
        a = str(clienkk['조회수'][i])
        b = a.replace("k","0000").replace(" ","")
        print(b)
        c = float(b)*1000
        clienkk['조회수int'][i] = float(c)
        print(c)
    else:
        clienkk['조회수int'][i]= float(clienkk['조회수'][i])

0
32.20000
32200.000000000004
1
32.20000
32200.000000000004
2
32.20000
32200.000000000004
3
32.20000
32200.000000000004
4
32.20000
32200.000000000004
5
32.20000
32200.000000000004
6
32.20000
32200.000000000004
7
32.20000
32200.000000000004
8
32.20000
32200.000000000004
9
32.20000
32200.000000000004

In [70]:
# 조회수 . k 단위 int로 변경
clienkk['조회수int'] =""
for i in range(len(clienkk['조회수'])):
    if "k" in str(clienkk['조회수'][i]):
        a = str(clienkk['조회수'][i])
        b = a.replace("k","0000").replace(" ","")
        print(b)
        c = round(float(b)*1000)
        clienkk['조회수int'][i] = float(c)
        print(c)
    else:
        clienkk['조회수int'][i]= float(clienkk['조회수'][i])

32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200
32.20000
32200

In [66]:
clienkk=clien[(clien['조회수int']>32200)&(clien['조회수int']<32201)]
clienkk

,추천수,게시판,제목,리플수,아이디,조회수,날짜,문서번호,사진유무,조회수int
1670,173,모공,정부때문에 마스크 못판다 역시 구라였네요,4,sian,32.2 k,2020-02-03 08:24:55,14553807,N,32200
22541,84,모공,백종원의 가쓰오부시(가다랑어포) 국산화 근황..,4,nd0v,32.2 k,2020-01-24 02:57:35,14523892,N,32200
29857,542,모공,드디어..ㅜㅜ,5,곰텡,32.2 k,2020-01-20 20:24:06,14513356,N,32200
60966,9,모공,셀카 찍다 259명 사망. jpg,0,Beatles,32.2 k,2020-01-05 23:37:03,14467499,Y,32200
64192,91,모공,한국인이 순하다는 증거,0,미나미모리마치,32.2 k,2020-01-04 10:27:43,14462691,N,32200
66356,3,모공,알벤다졸 성기능 장애,2,JAXA,32.2 k,2020-01-03 05:43:50,14459370,Y,32200
95148,85,모공,청와대 정책 홍보 담당자 미친듯...,3,그물새,32.2 k,2019-12-23 02:25:28,14417555,N,32200
102337,97,모공,2023년 모든 대학 입학금 폐지.jpg,3,wakatan,32.2 k,2019-12-19 08:39:40,14406200,Y,32200
122700,66,모공,속보) 자유당 의총 필리버스터 철회 보류,10,centumriver,32.2 k,2019-12-09 18:30:00,14374726,Y,32200
125815,46,모공,손흥민 골에 대한 레딧 드립.jpg,0,비빔냉면,32.2 k,2019-12-08 01:01:44,14369882,Y,32200

In [48]:
clien['조회수int'][131115]

11400.0

In [40]:
# 조회수 . k 단위 int로 변경
clien['조회수int'] =""
for i in range(260,300):#clien['조회수'])):
    try:
        if "k" in str(clien['조회수'][i]):
            a = str(clien['조회수'][i])
            print(str(a)+"aaaaa")
            b = a.replace("k","0000").replace(" ","")
            print(b+"bbbbb")
            c = float(b)*1000
            print(c)
        else:
            clien['조회수int'][i]= float(clien['조회수'][i])

    except:
        clien['조회수int'][i]= clien['조회수'][i]
        print(i)

14.5 kaaaaa
14.50000bbbbb
14500.0
11.2 kaaaaa
11.20000bbbbb
11200.0

In [27]:
clien['조회수'][292]

'11.2 k'

In [15]:
# 조회수 . k 단위 int로 변경
try:
    if 'k' in clien['조회수']:
        clien['조회수int'] = float(str(clien['조회수']).replace("k","0000").replace(" ",""))*1000
        print(clien['조회수int'])
    else:
        clien['조회수int']= clien['조회수'].astype(float)
except:
    clien['조회수int']= float(clien['조회수'])

TypeError: cannot convert the series to <class 'float'>

In [ ]:
float("11.4 k".replace("k","0000").replace(" ",""))*1000

In [ ]:
clien.info()

In [19]:
clien['조회수int']

0            172
1             31
2             61
3            253
4            485
           ...
131113       333
131114       598
131115    11.4 k
131116      1279
131117      1190
Name: 조회수int, Length: 131118, dtype: object

In [ ]:
# change to int
#clien['조회수int']=clien['조회수int'].astype(float)
clien['조회수int'] = pd.to_numeric(clien.조회수int, errors = 'coerce')

In [ ]:
# check basic info and size
clien.info()
clien.shape

In [ ]:
# clien Feature 구성
clien['year'] = clien['날짜'].dt.year
clien['month'] = clien['날짜'].dt.month
clien['day'] = clien['날짜'].dt.day
clien['hour'] = clien['날짜'].dt.hour
clien['minute'] = clien['날짜'].dt.minute
clien['second'] = clien['날짜'].dt.second
clien['dayofweek'] = clien['날짜'].dt.dayofweek
print(clien.shape)
print(clien.info())

In [ ]:
fig, axes = plt.subplots(nrows=3)
fig.set_size_inches(18,18)

# train data
plt.sca(axes[0])
plt.xticks(rotation=30, ha='right') # x축 글자
axes[0].set(ylabel='Count', title='시간별')
sns.countplot(data=clien, x='hour', ax=axes[0])

#test data
plt.sca(axes[1])
plt.xticks(rotation=30, ha='right')
axes[1].set(ylabel='Count', title='요일별')
sns.countplot(data=clien, x='dayofweek', ax=axes[1])

#test data
plt.sca(axes[2])
plt.xticks(rotation=30, ha='right')
axes[2].set(ylabel='Count', title='일별')
sns.countplot(data=clien, x='day', ax=axes[2])

11시대가 제일 글리젠이 많이되고 있으며 9시부터 23시까지의 활동량은 비슷하다.    
13시대가 식사하고 돌아와서 소화시키면서 글을 쓰는경우가 많을것 같고    
18시대는 퇴근전이나, 야근전 석식 먹기전에 루즈한 타임    
20,21시대는 석식후에 체크하는 타이밍    
25일같이 휴일인 경우에는 글리젠이 적다(쉬는날 타임 컬럼에 넣기)    
금요일, 크리스마스 전날인 경우엔 글리젠이 적고 크리스마스 후에는 글리젠이 많다.    
금요일이나, 공휴일 전에는 다음날 쉬는 이점이 있으므로 저녁 약속을 잡아 그런것 같다    
(몇시부터 적어지기 시작하는지 체크 - 평일과 함께 체크)     

0이 월요일

In [ ]:
clien.describe()

In [ ]:
perday=clien.pivot_table('조회수int',index = "hour", columns = 'dayofweek',aggfunc='mean')

In [ ]:
clien['조회수int'].describe()

In [ ]:
perday.columns = ['월','화','수','목','금','토','일']

In [ ]:
perday

In [ ]:
perday.iloc[:,1]

In [ ]:
# fig, axes = plt.subplots(8,1, figsize = (20,90))
# axes
# axes[0].plot(perday)
# # for i in range(len(perday.columns)):
# #     axes[i,0].plot(kind='bar')
# for i in range(len(perday.columns)):
#     axes[int(i)+(1)].plot(perday.iloc[:,i])

# 위와 아래는 동일함
# 아래대로 써야 타입이랑 바꿔주기 쉽다
fig, axes = plt.subplots(8,1, figsize = (20,90))
axes
perday.plot(ax= axes[0], kind='bar')
# for i in range(len(perday.columns)):
#     axes[i,0].plot(kind='bar')
for i in range(len(perday.columns)):
    perday.iloc[:,i].plot(ax = axes[int(i)+1], kind = 'bar')

In [ ]:
clien.loc[clien['dayofweek']==0,:].describe()

In [ ]:
perday=clien.pivot_table('리플수',index = "hour", columns = 'dayofweek',aggfunc='mean')

In [ ]:
# fig, axes = plt.subplots(8,1, figsize = (20,90))
# axes
# axes[0].plot(perday)
# # for i in range(len(perday.columns)):
# #     axes[i,0].plot(kind='bar')
# for i in range(len(perday.columns)):
#     axes[int(i)+(1)].plot(perday.iloc[:,i])

# 위와 아래는 동일함
# 아래대로 써야 타입이랑 바꿔주기 쉽다
fig, axes = plt.subplots(8,1, figsize = (20,90))
axes
perday.plot(ax= axes[0], kind='bar')
# for i in range(len(perday.columns)):
#     axes[i,0].plot(kind='bar')
for i in range(len(perday.columns)):
    perday.iloc[:,i].plot(ax = axes[int(i)+1], kind = 'bar')

비슷한 양상을 보임
약간의 시간차는 잇지만 5~6 시쯤 올린글에 대해서 
수요일과 금요일 새벽이 리플이 잘 달렸다